<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBcD1XDrI_zf8sU3QW3AOlCWBe8ueJptgY</string>
	<key>GCM_SENDER_ID</key>
	<string>576901470679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todo</string>
	<key>PROJECT_ID</key>
	<string>todo-app-4c93c</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-4c93c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576901470679:ios:b164efd0a1ea02eb349392</string>
</dict>
</plist>